# Ignore Visual Studio folder
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db

# Ignore build output
bin/
obj/

# Ignore user-specific files
*.swp
*.bak
*.tmp
*.log
/.vs/StudyPaws/v17/DocumentLayout.backup.json
.vs/StudyPaws/v17/.suo
