/*
    ---------------------- COLOUR PALETTE ----------------------

    LIGHT MODE
    ~ Fairy Tale (pink) : #F4CAE0
    ~ Thistle (light purple) : #D7B9D5
    ~ Rose quartz (dark purple) : #ADA7C9
    ~ Powder blue (dull blue) : #90A8C3
    ~ Moonstone (turquoise) : #64A6BD
    ~ Lapis Lazuli (dark blue) : #446791
    Background flow : #5c7b9f

    DARK MODE
    ~ Pink lavender (pink) : #E0B1CB
    ~ Lilac (dark pink) : #BE95C4
    ~ African Violet (light purple) : #9F86C0
    ~ Ultra Violet (medium purple) : #5E548E
    ~ Russian violet (dark purple) : #231942

*/

/* ---------------------- FONTS ---------------------- */

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-style: normal;
    font-weight: 400;
}

/*@font-face {
    font-family: 'The Seasons';
    src: url('../Fonts/Fontspring-DEMO-theseasons-reg.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

.the-seasons-regular {
    font-family: 'The Seasons', serif;
    font-weight: 400;
}*/

@font-face {
    font-family: 'The Seasons';
    src: url('../Fonts/Fontspring-DEMO-theseasons-lt.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

.the-seasons-light-regular {
    font-family: 'The Seasons', serif;
    font-weight: 200;
}

/* ---------------------- ALL PAGES ---------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    background-color: #446791;
    color: white;
    font-size: 1.1rem;
    box-sizing: border-box;
}

p {
    font-size: 40px;
    text-align: center;
    font-family: 'The Seasons', serif;
    font-weight: 200;
}

/*.wave-section {
    position: relative;
    height: 0;
    z-index: -1;
}

.wave-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #5c7b9f;
    clip-path: ellipse(75% 100% at 50% 100%);
    z-index: -1;
}*/

/* ---------------------- MASTER PAGE DIVS ---------------------- */

.page-wrapper {
    min-height: 100vh;
    max-height: 100%;
    min-width: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

#mainContentPlaceHolder {
    max-width: 100vw;
    margin: 0 auto;
}

.main-content {
    flex: 1;
    min-width: 100vh;
    max-height: 100%;
}

#mainContentDiv {
    flex: 1;
}

/* ---------------------- HEADINGS ---------------------- */
header {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-size: clamp(2rem, 5vw, 5rem); /* responsive font size */
    letter-spacing: 0.5em;
}

h2 {
    text-align: center;
    font-family: 'The Seasons', serif;
    font-weight: 200;
    font-size: clamp(1.5rem, 2vw, 2rem);
    letter-spacing: 0.05em;
}

/* STUDY PAWS CURVED HEADING (AT TOP OF SCREEN) */
.curved-header {
    position: absolute;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1000;
}

.curved-header svg {
    display: block;
    margin: auto;
    width: min(90vw, 700px); /* responsive width, max 700px */
}

.curved-header text {
    font-family: 'Lilita One', cursive, sans-serif;
    font-size: clamp(2rem, 5.5vw, 5.5rem); /* responsive font size */
    letter-spacing: 0.2em;
    fill: white;
}

.curved-header h2 {
    margin-top: clamp(-3rem, -3vw, -2rem);
}

/* STUDY PAWS CURVED HEADING (ON LOGIN / REGISTER PAGES) */
.loginRegisterCurvedHeader .curved-header {
    top: 20%;
}

/* ---------------------- NAVIGATION ---------------------- */
nav {
    z-index: 1000;
    width: 100%;
    position: fixed;
}

.navbar {
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.nav-left {
    flex: 1;
    flex-direction: column;
    text-align: right;
    margin-left: -3em;
    padding-top: 4%;
}

.nav-right {
    flex: 1;
    position: fixed;
    right: 0;
    flex-direction: column;
    text-align: left;
    margin-right: -3em;
    padding-top: 4%;
}

.navbar a {
    text-decoration: none;
    font-family: "Lilita One", sans-serif;
    font-size: 3.5em;
    letter-spacing: 0.05em;
    color: white;
    background-color: #ADA7C9;
    border-radius: 0.65em;
}

.navbar .nav-left a {
    width: 8em;
    padding: 1.5vh 0.5em 1.5vh 1em;
}

.navbar .nav-right a {
    width: 8em;
    padding: 1.5vh 1em 1.5vh 0.5em;
}

/* ---------------------- HOME PAGE ---------------------- */
/* ---------------------- HEADER ---------------------- */
/* ---------------------- ACCOUNT INFO BAR ---------------------- */
.accountInfoDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vw;
    font-size: clamp(1.2rem, 2vw, 2rem);
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.profileDiv {
    display: flex;
    align-items: center;
    gap: 2vw;
    flex-wrap: wrap;
}

.profileIcon {
    position: relative;
    width: 10vw;
    max-width: 147px;
    aspect-ratio: 1;
}

.profileIcon img#profilePet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 1;
}

.profileIcon #profileCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F4CAE0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.profileDetails {
    text-align: left;
}

.pawIcon {
    position: relative;
    width: 3vw;
    max-width: 50px;
    aspect-ratio: 1;
}

.pawIcon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pawIcon .paw {
    z-index: 1;
    width: 55%;
}

.pawIcon .circle {
    z-index: 0;
    width: 100%;
}

.timeDateDiv {
    text-align: right;
    margin-top: 1rem;
}

.timeDateDiv table tr:last-child td:nth-child(1) {
    padding-right: 10px;
}

.timeDateDiv table tr:last-child td:nth-child(2) {
    border-left: 2px solid white;
    padding-left: 10px;
}

/* ---------------------- MAIN CONTENT ---------------------- */
/* ---------------------- HOME PAGE PET ---------------------- */
.homePagePet {
    position: relative;
    width: min(90vw, 500px);
    aspect-ratio: 1;
    margin: 0 auto;
}

.homePagePet img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
}

#pet {
    z-index: 1;
    width: 80%;
}

#glow {
    z-index: 0;
    width: 100%;
}

/* ---------------------- USER WELCOME BACK TEXT ---------------------- */
.welcomeBackTextDiv {
    text-align: center;
    margin-top: -3em;
}

.welcomeBackTextDiv h2 {
    letter-spacing: 0.05em;
}

.welcomeBackTextDiv h1 {
    letter-spacing: 0.1em;
}


/* ---------------------- SMALL CONTAINER FOR MESSAGES ---------------------- */
.container {
    display: flex;
    justify-content: center;
    margin-top: 60px; /* for spacing from top */
}

/* ---------------------- LABELS ---------------------- */

.label {
    font-family: 'The Seasons', serif;
    font-weight: 200;
    font-size: clamp(1.2rem, 2vw, 2.5rem);
    color: white;
    margin-bottom: 0.5vh;
    display: inline-block;
}

/* ---------------------- BUTTONS ---------------------- */

.buttonSection {
    text-align: center;
    margin-top: 3vh;
}

.button {
    background-color: #5f7fa3;
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 1vh 2vw;
    font-size: clamp(1.2rem, 2.5vw, 2.7rem);
    font-family: 'Lilita One', cursive, sans-serif;
    letter-spacing: 0.1em;
    cursor: pointer;
    text-decoration: none;
    margin: 1vh;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #446791;
}

.button a {
    color: white;
    text-decoration: none;
}

/* ---------------------- TEXTBOXES ---------------------- */

.textbox {
    border-radius: 2rem;
    border: 2px solid white;
    background-color: transparent;
    padding: 0.2em 1em;
    color: white;
    font-size: clamp(1.2rem, 2vw, 2.5rem);
    font-family: 'The Seasons', serif;
    font-weight: 200;
    outline: none;
    margin: 1vh auto;
    text-align: right;
    max-width: 300px;
    box-sizing: border-box;
    display: block;
}

/* ---------------------- TABLES ---------------------- */
table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0;
    width: auto;
    height: auto;
}

/* ---------------------- REGISTER PAGE ---------------------- */
#registerPageDiv {
    padding-top: clamp(0.5rem 1vh 1rem);
    margin-top: 17%;
    text-align: left;
}

#registerPageDiv table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0;
    width: auto;
}

#registerPageDiv table tr {
    padding: 0.1em;
}

#registerPageDiv table td {
    vertical-align: middle;
    padding: 0.1em 1em;
}

#registerPageDiv table td:first-child {
    text-align: left;
}

#registerPageDiv table td:last-child {
    text-align: right;
}

/* ---------------------- LOGIN PAGE ---------------------- */
#loginPageDiv {
    padding-top: clamp(0.5rem 1vh 1rem);
    margin-top: 17%;
    text-align: left;
}

#loginPageDiv table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0;
    width: auto;
}

#loginPageDiv table tr {
    padding: 0.1em;
}

#loginPageDiv table td {
    vertical-align: middle;
    padding: 0.1em 1em;
}

#loginPageDiv table td:first-child {
    text-align: left;
}

#loginPageDiv table td:last-child {
    text-align: right;
}

/* ---------------------- ABOUT PAGE ---------------------- */
/* PALETTE WIDGET FROM "COOLERS" IN ABOUT PAGE? */
/*<!-- Coolors Palette Widget -->
<script src="https://coolors.co/palette-widget/widget.js" > </script >
<script data-id="000813941576946653" > new CoolorsPaletteWidget("000813941576946653", ["446791","64A6BD","90A8C3","ADA7C9","D7B9D5","F4CAE0"]); </script >*/


/* ---------------------- FOOTER ---------------------- */

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 1vh 0;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

footer p {
    color: #446791;
    font-size: clamp(1rem, 1.5vw, 1.3rem);
}

/* ---------------------- MEDIA QUERIES ---------------------- */

@media (max-width: 768px) {
    .accountInfoDiv {
        flex-direction: column;
        align-items: flex-start;
        font-size: 1rem;
    }

    .timeDateDiv {
        text-align: left;
        margin-top: 1rem;
    }

    .button {
        width: 50%;
    }

    .textbox {
        width: 50%;
    }
}

@media (max-width: 1800px) {
    .nav-left {
        padding-top: 2%;
    }

    .nav-right {
        padding-top: 2%;
    }

    .navbar a {
        font-size: 3em;
    }

    .navbar .nav-left a {
        width: 8.5em;
    }

    .navbar .nav-right a {
        width: 8.5em;
    }

    .homePagePet {
        width: min(90vw, 400px);
    }
}
