/*
    ---------------------- COLOUR PALETTE ----------------------

    LIGHT MODE
    ~ Fairy Tale (pink) : #F4CAE0
    ~ Thistle (light purple) : #D7B9D5
    ~ Rose quartz (dark purple) : #ADA7C9
    ~ Powder blue (dull blue) : #90A8C3
    ~ Moonstone (turquoise) : #64A6BD
    ~ Lapis Lazuli (dark blue) : #446791
    Background flow : #5c7b9f

    DARK MODE
    ~ Pink lavender (pink) : #E0B1CB
    ~ Lilac (dark pink) : #BE95C4
    ~ African Violet (light purple) : #9F86C0
    ~ Ultra Violet (medium purple) : #5E548E
    ~ Russian violet (dark purple) : #231942

*/

/* ---------------------- FONTS ---------------------- */

@import url('StyleSheet.css');
@font-face {
    font-family: 'Lilita One';
    src: url('../Fonts/LilitaOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
.lilita-font {
    font-family: 'Lilita One', sans-serif;
}

@font-face {
    font-family: 'Gilda Display';
    src: url('../Fonts/GildaDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
.gilda-font {
    font-family: 'Gilda Display', serif;
}

/* ---------------------- ALL PAGES ---------------------- */

* {
    padding: 0;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

html, body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    background-color: #446791;
    color: white;
    font-size: 1.1rem;
    box-sizing: border-box;
}

p {
    font-size: 40px;
    text-align: center;
    font-family: 'Gilda Display', serif;
    font-weight: 200;
}

/*.wave-section {
    position: relative;
    height: 0;
    z-index: -1;
}

.wave-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #5c7b9f;
    clip-path: ellipse(75% 100% at 50% 100%);
    z-index: -1;
}*/

/* ---------------------- POP-UPS ---------------------- */
.simple-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-pink-box {
    background-color: #D7B9D5; /*pink*/
    padding: 40px;
    border-radius: 10px;
    border: 5px solid white;
    width: 40%;
    max-width: 1500px;
    min-height: 250px;
    text-align: center;
}

.popup-pink-box img {
    max-width: 60%;
    width: 300px;
}

.popup-pink-box .buttonSection{
    text-align: center;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-wrap: nowrap;
    flex-direction: row;
}

.popup-blue-box {
    background-color: #90A8C3; /*blue*/
    padding: 40px;
    border-radius: 10px;
    border: 5px solid white;
    width: 40%;
    max-width: 1500px;
    min-height: 250px;
    text-align: center;
}

.popup-blue-box img {
    max-width: 60%;
    width: 300px;
}

.popup-blue-box .buttonSection {
    text-align: center;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-wrap: nowrap;
    flex-direction: row;
}

/* worse button option */
.popup-button {
    background-color: transparent;
    border: 4px solid white;
    border-radius: 1rem;
    color: white;
    padding: 1vh 2vw;
    font-size: clamp(1.2rem, 2.5vw, 2.7rem);
    font-family: 'Lilita One', sans-serif;
    letter-spacing: 0.1em;
    cursor: pointer;
    text-decoration: none;
    margin: 1vh;
}

.popup-button a {
     color: white;
     text-decoration: none;
}

/* best button option */
.popup-button-best-blue {
    background-color: white;
    border: 2px solid white;
    border-radius: 1rem;
    color: #90A8C3; /*blue*/
    padding: 1vh 2vw;
    font-size: clamp(1.2rem, 2.5vw, 2.7rem);
    font-family: 'Lilita One', sans-serif;
    letter-spacing: 0.1em;
    cursor: pointer;
    text-decoration: none;
    margin: 1vh;
}

.popup-button-best-blue a {
    color: #90A8C3;
    text-decoration: none;
}

.popup-button-best-pink {
    background-color: white;
    border: 2px solid white;
    border-radius: 1rem;
    color: #D7B9D5; /*pink*/
    padding: 1vh 2vw;
    font-size: clamp(1.2rem, 2.5vw, 2.7rem);
    font-family: 'Lilita One', sans-serif;
    letter-spacing: 0.1em;
    cursor: pointer;
    text-decoration: none;
    margin: 1vh;
}

.popup-button-best-pink a {
    color: #D7B9D5;
    text-decoration: none;
}

/* ---------------------- MASTER PAGE DIVS ---------------------- */
.page-wrapper {
    min-height: 100vh;
    max-height: 100%;
    min-width: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

#mainContentPlaceHolder {
    max-width: 100vw;
    margin: 0 auto;
}

.main-content {
    flex: 1;
    min-width: 100vh;
    max-height: 100%;
}

#mainContentDiv {
    flex: 1;
}

/* ---------------------- HEADINGS ---------------------- */
header {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Lilita One', sans-serif;
    font-weight: 400;
    font-size: clamp(2rem, 5vw, 5rem); /* responsive font size */
    letter-spacing: 0.5em;
}

h2 {
    text-align: center;
    font-family: 'Gilda Display', serif;
    font-weight: 200;
    font-size: clamp(1.5rem, 2vw, 2rem);
    letter-spacing: 0.05em;
}

/* STUDY PAWS CURVED HEADING (AT TOP OF SCREEN) */
.curved-header {
    position: absolute;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1000;
}

.curved-header svg {
    display: block;
    margin: auto;
    width: min(90vw, 700px); /* responsive width, max 700px */
}

.curvedHeaderLink {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.curvedHeaderPaw {
    position: absolute;
    top: 3.1rem;
    left: 50%;
    transform: translate(5.5rem, -50%) rotate(8deg);
    width: 3rem;
    height: auto;
    z-index: 2;
}

.curved-header text {
    font-family: 'Lilita One', sans-serif;
    font-size: clamp(2rem, 5.5vw, 5.5rem); /* responsive font size */
    letter-spacing: 0.2em;
    fill: white;
}

.curved-header h2 {
    margin-top: clamp(-3.5rem, -4vw, -3rem);
    font-size: clamp(0.5rem, 2vw, 2rem);
}

.curved-header a:visited {
    color: white;
}

/* STUDY PAWS CURVED HEADING (ON LOGIN / REGISTER PAGES) */
.loginRegisterCurvedHeader .curved-header {
    top: 20%;
}

.loginRegisterCurvedHeader .curvedHeaderPaw {
    top: 3.1rem;
    transform: translate(5.5rem, -50%) rotate(8deg);
    width: 3rem;
}

/* ---------------------- HEADER ---------------------- */
/* ---------------------- ACCOUNT INFO BAR ---------------------- */
.accountInfoDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vw;
    font-size: clamp(1.2rem, 2vw, 2rem);
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.profileDiv {
    display: flex;
    align-items: center;
    gap: 2vw;
    flex-wrap: wrap;
}

/* profile pic */
.profileIcon {
    position: relative;
    width: 8vw;
    max-width: 147px;
    aspect-ratio: 1;
}

.profileIcon img {
    margin-top: 3%;
    max-width: 90%;
    max-height: 90%;
}

.profileIconLink {
    display: block;
    position: relative;
    text-decoration: none;
}
.profileIconLink:focus-visible {
    outline: 2px solid white;
    border-radius: 50%;
}
.profileIconLink .profileIcon {
    pointer-events: none;
}

.profileIcon img#profilePet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 1; 
}

.profileIcon #profileCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F4CAE0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    z-index: -1;  
}

/* level, xp and paw currency on left side of screen */
.profileDetails {
    text-align: left;
}

.accountInfoLabel {
    font-family: 'Gilda Display', serif;
    font-weight: 200;
    font-size: clamp(1.2rem, 2vw, 2.5rem);
    color: white;
    margin-bottom: 0;
    display: inline-block;
}

.accountInfoTableLabel {
    font-family: 'Gilda Display', serif;
    font-weight: 200;
    font-size: clamp(1.2rem, 2vw, 2.5rem);
    color: white;
    margin-bottom: 0;
    display: inline-block;
    padding-right: 1vw;
}

.accountInfoTableLabelRight {
    font-family: 'Gilda Display', serif;
    font-weight: 200;
    font-size: clamp(1.2rem, 2vw, 2.5rem);
    color: white;
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
    text-align: right;
}

.pawIcon {
    position: relative;
    width: 2.5vw;
    max-width: 50px;
    aspect-ratio: 1;
}

.pawIcon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pawIcon .paw {
    z-index: 1;
    width: 55%;
}

.pawIcon .circle {
    z-index: 0;
    width: 100%;
}

/* date and time on right side of screen */
.timeDateDiv {
    text-align: right;
}

.timeDateDiv table tr:last-child td:nth-child(1) {
    padding-right: 0.5em;
}

.timeDateDiv table tr:last-child td:nth-child(2) {
    border-left: 2px solid white;
    padding-left: 0.5em;
}

/* ---------------------- NAVIGATION ---------------------- */
nav {
    z-index: 1;
    width: 100%;
    position: fixed;
}

nav:hover {
    z-index: 1000;
}

.navbar {
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.nav-left {
    flex: 1;
    flex-direction: column;
    text-align: right;
    margin-left: -3em;
    padding-top: 4%;
    z-index: 1;
}

.nav-right {
    flex: 1;
    right: 0;
    flex-direction: column;
    text-align: left;
    margin-right: -3em;
    padding-top: 4%;
    z-index: 1;
}

.navbar a {
    text-decoration: none;
    font-family: 'Lilita One', sans-serif;
    font-size: 3.5em;
    letter-spacing: 0.05em;
    color: white;
    border-radius: 0.65em;
}

.navbar .nav-left li,
.navbar .nav-right li {
    margin-bottom: 1em;
}

.navbar .nav-left li {
    position: relative;
    z-index: 1;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.navbar .nav-left li:hover {
    transform: translateX(1em);
    z-index: 1;
}

.navbar .nav-right li {
    position: relative;
    z-index: 1;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.navbar .nav-right li:hover {
    transform: translateX(-1em);
    z-index: 1;
}

body.page-enter .nav-left {
    transform: translateX(-23.5em);
    animation: slideInLeft 0.5s ease forwards;
}

body.page-enter .nav-right {
    transform: translateX(23.5em);
    animation: slideInRight 0.5s ease forwards;
}

@keyframes slideInLeft {
    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    to {
        transform: translateX(0);
    }
}

/* left children*/
.navbar .nav-left a {
    width: 8em;
    padding: 1.5vh 0.5em 1.5vh 1em;
}

.nav-left li:nth-child(1) a {
    background-color: #F4CAE0;
}

.nav-left li:nth-child(2) a {
    background-color: #D7B9D5;
}

.nav-left li:nth-child(3) a {
    background-color: #ADA7C9;
}

.nav-left li:nth-child(4) a {
    background-color: #90A8C3;
}

.nav-left li:nth-child(5) a {
    background-color: #64A6BD;
}

/* right children*/
.navbar .nav-right a {
    width: 8em;
    padding: 1.5vh 1em 1.5vh 0.5em;
}

.nav-right li:nth-child(1) a {
    background-color: #F4CAE0;
}

.nav-right li:nth-child(2) a {
    background-color: #D7B9D5;
}

.nav-right li:nth-child(3) a {
    background-color: #ADA7C9;
}

.nav-right li:nth-child(4) a {
    background-color: #90A8C3;
}

.nav-right li:nth-child(5) a {
    background-color: #64A6BD;
}

body.page-exit .navbar .nav-left {
    transform: translateX(-23.5em);
    transition: transform 0.5s ease;
}

body.page-exit .navbar .nav-right {
    transform: translateX(23.5em);
    transition: transform 0.5s ease;
}

/* collapsed nav */
.collapsedNav .nav-left,
.nav-right {
    position: fixed;
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    z-index: 1;
}

.collapsedNav .nav-left {
    left: 0;
}

.collapsedNav .nav-left li {
    position: relative;
    transform: translateX(-23.5em);
    transition: transform 0.5s ease-in-out;
}

.collapsedNav .nav-left li:hover {
    transform: translateX(1em);
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2.3em;
}

.collapsedNav .nav-right {
    right: 0;
}

.collapsedNav .nav-right li {
    position: relative;
    transform: translateX(23.5em);
    transition: transform 0.5s ease-in-out;
    z-index: 1;
}

.collapsedNav .nav-right li:hover {
    transform: translateX(1em);
    z-index: 11;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2.3em;
}

.collapsedNav .navbar a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Lilita One', sans-serif;
    font-size: 3.5em;
    letter-spacing: 0.05em;
    color: white;
    background-color: #ADA7C9;
    border-radius: 0.65em;
    transition: all 0.3s ease;
}

.collapsedNav .nav-left li,
.nav-right li {
    list-style: none;
    margin-bottom: 1em;
}

.collapsedNav .nav-left a,
.nav-right a {
    width: 8em;
    padding: 1.5vh 0.5em;
}

body.page-exit .collapsedNav .navbar .nav-left {
    transform: translateX(0);
    transition: transform 0.5s ease;
}

body.page-exit .collapsedNav .navbar .nav-right {
    transform: translateX(0);
    transition: transform 0.5s ease;
}

/* ---------------------- HOME PAGE ---------------------- */
/* HOME PAGE PET */
.homePagePet {
    position: relative;
    width: min(90vw, 500px);
    aspect-ratio: 1;
    margin: 0 auto;
}

.homePagePet img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
}

#pet {
    z-index: 1;
    width: 80%;
}

#glow {
    z-index: 0;
    width: 100%;
}

body.page-exit .homePagePet {
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* USER WELCOME BACK TEXT */
.welcomeBackTextDiv {
    text-align: center;
    margin-top: -3em;
}

.welcomeBackTextDiv h2 {
    letter-spacing: 0.05em;
}

.welcomeBackTextDiv h1 {
    letter-spacing: 0.1em;
}

body.page-exit .welcomeBackTextDiv {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.username-header {
    letter-spacing: 0.1em; 
    font-size: 3.5em; 
    font-family: 'Lilita One';
    display: block;
    margin-top: 0; 
    margin-bottom: 0; 
}


/* ---------------------- DASHBOARD PAGE ---------------------- */
.dashboardContainer{
    display: flex;
    gap: 15px;
    padding-left: 100px;
    padding-right:100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* ---------------------- CALENDAR PAGES ---------------------- */
.calendarDashboard {
    flex: 75%;
    background: #D7B9D5; 
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); /*fix this*/
    /*add height*/
}
.calendarHeader {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    margin: 20px;
    margin-bottom: 5px;
}
.calendarTitle {
    flex: 60%;
    font-family: 'Lilita One', sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 1px 1px #5B548A;
    margin: 0;
    margin-bottom: 5px;
    text-align: left;
}
.controlsCalendar{
    flex:40%;
    font-size: 22px;
    display: flex;
    align-content: space-between;
}
.controlsCalendar .calendarFilters{
    flex:1;
    width: 2.5vw;
    max-width: 30px;
    border:none;
    background:transparent;
    gap: 10px;
    cursor:pointer;
}
.controlsCalendar .calendarFilters img{
    width:2.5vw;
    max-width:30px;
}
    .controlsCalendar .prevMonth {
        flex: 1;
        width: 2.5vw;
        max-width: 30px;
        border: none;
        background: transparent;
        gap: 10px;
        cursor: pointer;
    }
.controlsCalendar .prevMonth img {
    width: 2.5vw;
    max-width: 30px;
}
    .controlsCalendar .nextMonth {
        flex: 1;
        width: 2.5vw;
        max-width: 30px;
        border: none;
        background: transparent;
        gap: 10px;
        cursor: pointer;
    }
.controlsCalendar .nextMonth img {
    width: 2.5vw;
    max-width: 30px;
}
.controlsCalendar .dateCalendar{
    flex:1;
    font-size: 22px;
    gap: 10px;
    cursor: text;
    text-align:center;
}
.calendarBox{
    /*padding: 10px;
    display:flex;
    text-align:center;*/
    border-collapse: collapse;
    width:100%;
    /*max-width: 800px;*/
    margin: 20px auto;
}
.calendarBox th, .calendarBox td{
    border: 3px solid white;
    width: 14.28%;
    height:75px;
    text-align:right;
    vertical-align: top;
    padding: 5px;
}
    .calendarBox th .weeks {
        background: #D7B9D5;
    }

.weeks {
    background: #D7B9D5;
}
.today {
    background-color: #446791;
    font-weight: bold;
}
.calendarBox ul{
    display: flex;
    list-style:none;
    flex-wrap: wrap;
}
.calendarBox ul li{
    width: calc(100%/7);
}
.calendarBox .weeks th {
    background: #D7B9D5;
    color:white;
    font-weight:bold;
    text-align:center;
    padding: 10px 0;
    border: solid 2px white;
}
.calendarBox .days{
    margin-bottom: 20px;
}
.calendarBox .days li {
    margin-top: 30px;
    text-align:center;
    line-height:40px;
    height:40px;
    font-size:14px;
    cursor: pointer;
    border: solid 2px white;
}
.calendarBox .days li .noncurrentMonth {
    background: #446791;
}
.calendarTitle {
    font-family: 'Lilita One', sans-serif;
    font-weight: 400;
    font-size: 28px;
    text-shadow: 2px 2px #5B548A;
    margin: 0;
}
.controlsCalendar {
    height:38px;
    width:38px;
    line-height: 38px;
    cursor:pointer;
    margin: 0 1px;
    border-radius:50%;
}
.controlsCalendar span:hover {
    background: #D7B9D5;
}
/* ---------------------- TO DO LIST PAGES ---------------------- */
.toDoListDashboard {
    flex: 25%;
    background: #ADA7C9;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);/*fix this*/
    height:auto; /*fix this*/
}
.toDoListControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    /*edit padding at top*/
    font-size: 22px;
    margin: 15px;
}
.toDoListControls .toDoListHeading {
    font-family: 'Lilita One', sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 1px 1px #5B548A;
    flex: 90%;
    text-align:left;
    /*add shadow and letter spacing*/
}
.toDoListControls .toDoListFilters{
    flex:10%;
    /*display:flex;
    gap:16px;
    justify-content: flex-start;
    padding: 0;*/
}
    .toDoListControls .toDoListFilters .toDoFilterBtn {
        width: 2.5vw;
        max-width: 30px;
        border: none;
        background: transparent;
        gap: 5px;
        cursor:pointer;
    }

        .toDoListControls .toDoListFilters .toDoFilterBtn img {
            width: 2.5vw;
            max-width: 30px;
        }
.toDoListFilters .filterBtn{
    cursor: pointer;
    font-size: 14px;
    background:none;
    border:none;
    color:white;
    font-weight:normal;
    padding: 4px 10px;
    border-radius: 8px;
}
.toDoListFilters .filterBtn:hover, .toDoListFilters .filterBtn.active {
    color: #5B548A;
    font-weight:bold;
    background-color:#D7B9D5;
}
.taskBox{
    margin: 0;
    padding:0;
    list-style:none;
}
/*.taskBox .task{
    display:flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}*/
.task{
    display: flex;
    align-items:center;
    margin-bottom: 15px;
    padding-left: 5px;
}
.task input[type="checkbox"]{
    transform: scale(1.5);
    margin-right:12px;
    accent-color:white;
}
.taskText{
    font-size:18px;
    color:white;
    letter-spacing:0.5px;
}
.newTask{
    display:flex;
    padding: 5px 10px;
}
.newTask #addTaskBtn {
    width: 2.5vw;
        max-width: 30px;
        border: none;
        background: transparent;
        gap: 5px;
        cursor:pointer;
}
    .newTask #addTaskBtn img {
        width: 2.5vw;
        max-width: 30px;
    }
.newTask #txtNewTask{

}
.taskInput {
    flex-grow: 1;
    height: 35px;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    color: #5B548A;
    background:transparent;
}
.taskText.done{
    text-decoration:line-through;
    color: #ddd;
}

/* ---------------------- CREATE TIMER PAGES A100 ---------------------- */
/* page 1 (back, create, view past timers) */
.createTimerMainContent {
    margin: 4em 4em 4em 4em;
}

.createTimerMainContent .buttonSection {
    margin-top: 32%;
    display: flex;
}

.createTimerMainContent .buttonSection .leftSection {
    z-index: 10;
    flex: 1;
}

.createTimerMainContent .buttonSection .middleSection {
    z-index: 10;
    flex: 1;
}

.createTimerMainContent .buttonSection .rightSection {
    z-index: 10;
    flex: 1;
}

/* page 2 (title, tag, back, continue) */
.createTimer2MainContent {
    margin: 4em 4em 4em 4em;
}

.createTimer2MainContent .titleTagSection {
    padding: 6% 0 10.85% 0;
    display: flex;
}

.createTimer2MainContent .titleTagSection .leftSection {
    flex: 1;
}

.createTimer2MainContent .titleTagSection .middleSection {
    flex: 1;
}

.createTimer2MainContent .titleTagSection .rightSection {
    flex: 1;
}

.createTimer2MainContent .titleTagSection .rightSection table {
    padding: 0;
    margin: 0;
    width: auto;
}

.createTimer2MainContent .titleTagSection .rightSection table td {
    padding: 3vh 0;
}

.createTimer2MainContent .titleTagSection .rightSection table td .validationError {
    text-align: left;
    font-size: 1.5em;
}

.titleTagSection table {
    width: auto;
}

.titleTagSection table tr {
    padding: 0.1em;
}

.titleTagSection table td {
    vertical-align: middle;
    padding: 0.1em 1em;
}

.titleTagSection table td:first-child {
    text-align: left;
}

.titleTagSection table td:last-child {
    text-align: right;
}

.titleTagSection .textbox {
    text-align: left;
    max-width: 350px;
}

.titleTagSection .dropDownList {
    max-width: 350px;
}

.createTimer2MainContent .buttonSection {
    display: flex;
}

.createTimer2MainContent .buttonSection .leftSection {
    z-index: 10;
    flex: 1;
}

.createTimer2MainContent .buttonSection .middleSection {
    z-index: 10;
    flex: 1;
}

.createTimer2MainContent .buttonSection .rightSection {
    z-index: 10;
    flex: 1;
}

/* page 3 (time, back, start) */
.createTimer3MainContent {
    margin: 4em 4em 4em 4em;
}

.createTimer3MainContent .timeSection {
    padding: 5% 0 1.9% 0;
    text-align: center;
}

.createTimer3MainContent .timeSection .middleSection .textbox {
    border: none;
    background-color: transparent;
    padding: 0;
    color: white;
    font-size: clamp(4rem, 8vw, 8rem);
    font-family: 'Gilda Display', serif;
    font-weight: 200;
    outline: none;
    max-width: 12.5%;
    max-height: auto;
    display: inline;
    text-align: center;
}

.createTimer3MainContent .timeSection .middleSection .label {
    font-size: clamp(4rem, 8vw, 8rem);
    text-align: center;
}

.createTimer3MainContent .timeSection .middleSection .timeHeadings .label {
    font-size: clamp(1rem, 2vw, 2rem);
    text-align: center;
    padding: 0 1.5em 0 1.5em;
    width: 14%;
}

.createTimer3MainContent .buttonSection {
    display: flex;
}

.createTimer3MainContent .buttonSection .leftSection {
    z-index: 10;
    flex: 1;
}

.createTimer3MainContent .buttonSection .middleSection {
    z-index: 10;
    flex: 1;
}

.createTimer3MainContent .buttonSection .rightSection {
    z-index: 10;
    flex: 1;
}

/* ---------------------- VIEW TIMER PAGE A200 ---------------------- */
.viewTimerMainContent {
    margin: 4em 4em 4em 4em;
}

.viewTimerMainContent .timeSection {
    padding: 2% 0 2% 0;
    text-align: center;
    display: flex;
}

.viewTimerMainContent .timeSection .leftSection {
    flex: 1;
    padding: 0;
}

.viewTimerMainContent h1 {
    font-size: clamp(2rem, 4vh, 4rem);
    letter-spacing: 0.5px;
    text-align: center;
}

.viewTimerMainContent .timeSection .middleSection {
    flex: 1;
    padding: 0;
}

.viewTimerMainContent .timeSection .middleSection .textbox {
    border: none;
    background-color: transparent;
    padding: 0;
    color: white;
    font-size: clamp(3rem, 6vw, 6rem);
    font-family: 'Gilda Display', serif;
    font-weight: 200;
    outline: none;
    max-width: 15%;
    min-width: 100px;
    max-height: auto;
    display: inline;
    text-align: center;
}

.viewTimerMainContent .timeSection .middleSection .label {
    font-size: clamp(3rem, 6vw, 6rem);
    text-align: center;
}

.viewTimerMainContent .homePagePet {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.viewTimerMainContent .homePagePet img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
}

.viewTimerMainContent #pet {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.viewTimerMainContent #glow {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.timerCircleWrapper {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    overflow: visible;
}

.timerInnerContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.progress-ring {
    transform: rotate(90deg);
    overflow: visible;
}

.progress-ring-bg {
    stroke: #90A8C3; /*dull blue*/
}

.progress-ring-fill {
    stroke: #F4CAE0; /*pink*/
    transition: stroke-dashoffset 1s linear;
    stroke-linecap: round;
    transform: scaleX(-1);
    transform-origin: center;
}

.timerText {
    font-size: 5rem;
    color: white;
    font-family: 'Gilda Display', serif;
    margin-bottom: 0;
}

.viewTimerMainContent .timeSection .rightSection {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding: 0;
    margin-top: -4em;
}

.viewTimerMainContent .timeSection .rightSection .toDoListSection {
    width: 20vw;
    margin-left: auto;
}

.viewTimerMainContent .buttonSection {
    display: flex;
}

.viewTimerMainContent .buttonSection .leftSection {
    z-index: 10;
    flex: 1;
}
.viewTimerMainContent .buttonSection .leftSection .textbox {
    text-align: center;
}

.viewTimerMainContent .buttonSection .middleSection {
    z-index: 10;
    flex: 1;
}

.buttonRow {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}

.extraTimeRow {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 0.5em;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.extraTimeRow.show {
    opacity: 1;
    pointer-events: auto;
}

#extraTimeButtons {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.viewTimerMainContent .buttonSection .rightSection {
    z-index: 10;
    flex: 1;
}

.viewTimerMainContent #popup .buttonSection {
    align-content: center;
}

.viewTimerMainContent #popup .buttonSection .popup-button {
    font-size: clamp(1rem, 2vw, 2rem);
    width: 100%;
}

.viewTimerMainContent #popup .buttonSection .popup-button-best-blue {
    font-size: clamp(1rem, 2vw, 2rem);
    width: 100%;
}

/* ---------------------- VIEW PAST TIMERS PAGE A600 ---------------------- */
.viewPastTimersMainContent {
    margin: 4em 4em 4em 4em;
}

.pastTimerStudySessionTableSection {
    min-height: 55.5vh;
    max-height: 55.5vh;
    height: auto;
    margin-top: -1%;
    background-color: #90A8C3;
    border-radius: 3em;
    min-width: 75%;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.viewPastTimersHeading {
    position: relative;
    margin: 0 auto;
    bottom: 2.2em;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.viewPastTimersHeading .leftSection {
    flex: 1;
}

.viewPastTimersHeading .middleSection {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: max-content;
    z-index: 1;
}

.viewPastTimersHeading .rightSection {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2.5em;
}

.pastTimerStudySessionTableSection img {
    width: 2.5rem;
    height: auto;
}

.pastTimerStudySessionTableSection h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
}

.scrollableTableContainer {
    max-height: 50vh;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 75%;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.viewPastTimersMainContent .scrollableTableContainer {
    max-height: 49vh;
    min-width: 97%;
    max-width: 97%;
}

.scrollableTableContainer::-webkit-scrollbar {
    width: 0.7em;
}

.scrollableTableContainer::-webkit-scrollbar-track {
    background: white;
    border-radius: 100px;
}

.scrollableTableContainer::-webkit-scrollbar-thumb {
    background-color: #446791;
    border-radius: 100px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.pastTimerTable {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0;
    min-width: 99%;
    height: auto;
    font-family: 'Gilda Display', serif;
    font-size: 2.2rem;
    color: white;
    text-align: center;
}

.pastTimerTable th {
    color: white;
    padding: 0.5em 1em;
    border-bottom: 2px solid white;
}

.pastTimerTable td {
    padding: 0.5em 1em;
    border-top: 1px solid white;
}

/* ---------------------- PET SHOP PAGE ---------------------- */
#viewShopMainContent {
    margin: 4em 4em 4em 4em;
}

#viewShopMainContent .backgroundColorContainer {
    align-items: center;
    margin: auto;
    background-color: #F4CAE0; /*pink*/
    min-width: 85%;
    max-width: 85%;
    height: 63vh;
    border-radius: 2em;
    padding: 0.5em;
}

/* ---------------------- INVENTORY PAGE ---------------------- */
#viewInventoryMainContent {
    margin: 4em 4em 4em 4em;
}

#viewInventoryMainContent .backgroundColorContainer {
    align-items: center;
    margin: auto;
    background-color: #D7B9D5; /*light purple*/
    min-width: 85%;
    max-width: 85%;
    height: 63vh;
    border-radius: 2em;
    padding: 0.5em;
}

/* ---------------------- VIEW FRIEND LIST PAGE ---------------------- */
#viewFriendListMainContent {
    margin: 4em 4em 4em 4em;
}

#viewFriendListMainContent .backgroundColorContainer {
    align-items: center;
    margin: auto;
    background-color: #ADA7C9; /*dark purple*/
    min-width: 85%;
    max-width: 85%;
    height: 63vh;
    border-radius: 2em;
    padding: 0.5em;
}

/* ---------------------- BADGES PAGE ---------------------- */
#badgesMainContent {
    margin: 2em;
    height: 67vh;
    overflow: hidden; 
}

#badgesMainContent h2 {
    margin-bottom: 0.1em;
    font-size: 2.5rem;
}

#badgesMainContent .backgroundColorContainer {
    align-items: center;
    margin: auto;
    padding-left: 0.2em;
    background-color: #90A8C3; 
    min-width: 85%;
    max-width: 85%;
    height: auto;
    border-radius: 3em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

#badgesMainContent .scrollableTableContainer {
    height: auto;
    max-height: 58vh;
    min-width: 97%;
    max-width: 100%;
}

#badgesMainContent .scrollableTableContainer::-webkit-scrollbar {
    padding-right: 0.2em;
}

/*.badges-scroll-wrapper {
    flex: 1;
    overflow-y: auto;
    width: 100%;
    padding-right: 10px; 
    margin-top: 1rem;
    scrollbar-width: thin;
    scrollbar-color: #446791 #e0e0e0;
}*/
.badges-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 per row */
    gap: 2rem;
    padding: 0 1rem 1rem 1rem;
}

.badge-card {
    background-color: #90a8c3;
    border-radius: 1rem;
    width: 100%;
    text-align: center;
}

.badge-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid white;
    background-color: #D7B9D5;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.badge-image img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.badge-name {
    display: inline-block;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 0.6rem;
    padding: 0.3rem 0.7rem;
    border: 2px solid #ccc;
    border-radius: 1.5rem;
    background-color: #90a8c3;
}

.badge-description {
    display: block;
    font-size: 0.95rem;
    color: white;
    margin-top: 0.3rem;
}

/* ---------------------- ABOUT PAGE ---------------------- */
/* PALETTE WIDGET FROM "COOLERS" IN ABOUT PAGE? */
/*<!-- Coolors Palette Widget -->
<script src="https://coolors.co/palette-widget/widget.js" > </script >
<script data-id="000813941576946653" > new CoolorsPaletteWidget("000813941576946653", ["446791","64A6BD","90A8C3","ADA7C9","D7B9D5","F4CAE0"]); </script >*/
#aboutMainContent{
    margin: 4em 4em 4em 4em;
}

#aboutMainContent .backgroundColorContainer {
    align-items: center;
    margin: auto;
    background-color: #64A6BD; /*turquoise*/
    min-width: 85%;
    max-width: 85%;
    height: 63vh;
    border-radius: 2em;
    padding: 0.5em;
}

#aboutMainContent td p {
    margin-bottom: 0em;
}

#aboutMainContent a {
    color: white;
}

/* ---------------------- FOOTER ---------------------- */
footer {
    text-align: center;
    position: fixed;
    bottom: -1em;
    padding: 1vh 0;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

footer p {
    color: #446791;
    font-size: clamp(1rem, 1.3vw, 1.3rem);
}

/* ---------------------- LANDING PAGE ---------------------- */
#landingPageDiv {
    margin-top: 17%;
    text-align: center;
}

#landingPageDiv img {
    width: 250px;
}

/* ---------------------- REGISTER PAGE ---------------------- */
#registerPageDiv {
    margin-top: 17%;
    text-align: left;
}

#registerPageDiv table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0;
    width: auto;
}

#registerPageDiv table tr {
    padding: 0.1em;
}

#registerPageDiv table td {
    vertical-align: middle;
    padding: 0.1em 1em;
}

#registerPageDiv table td:first-child {
    text-align: left;
}

#registerPageDiv table td:last-child {
    text-align: right;
}
.errorLabel {
    margin-left: 10px;
    font-size: 0.9rem;
    font-weight: 600;
}
/* ---------------------- LOGIN PAGE ---------------------- */
#loginPageDiv {
    margin-top: 17%;
    text-align: left;
}

#loginPageDiv table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0;
    width: auto;
}

#loginPageDiv table tr {
    padding: 0.1em;
}

#loginPageDiv table td {
    vertical-align: middle;
    padding: 0.1em 1em;
}

#loginPageDiv table td:first-child {
    text-align: left;
}

#loginPageDiv table td:last-child {
    text-align: right;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    vertical-align: middle;
}

/* ---------------------- PROFILE PAGE ---------------------- */
#profileMainContent {
    margin: 0 1em;
}

.profileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

.headerLeft {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.headerCenter {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileIcon {
    text-align: center;
}

.profileImageContainer {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#profilePet {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.headerRight {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.timeDateDiv table {
    text-align: right;
}

.profileForm {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.profileForm table {
    width: 100%;
}

.profileForm .label {
    font-weight: bold;
    padding-right: 10px;
}

.profileForm .textbox {
    padding: 8px;
    width: 200px;
    margin: 5px 0;
}

.changeIconContainer {
    text-align: center;
    margin: 20px 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #446791;
    border: 2px solid white;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 60%;
}

input:checked + .slider {
    background-color: #6ca0e3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.buttonSection {
    text-align: center;
    margin-top: 20px;
}
.deleteProfileSection {
    display: flex; 
    align-items: center; 
    margin: 10px auto 0 auto; 
    padding: 10px 20px; 
    max-width: 650px; 
    box-sizing: border-box;
}

.deleteProfileSection .label {
    width: 150px; 
    text-align: right; 
    flex-shrink: 0; 
    padding-right: 15px; 
}

.deleteProfileSection .deleteIconContainer {
    flex-grow: 1; 
    text-align: left; 
}

.deleteIconContainer {
    flex-grow: 1;
    text-align: right; 
}

.deleteIcon {
    width: 50px; 
    height: 50px; 
    border: none; 
    background: none; 
    cursor: pointer; 
}

.profilebutton {
    background-color: #a3b9d2;
    border: 3px solid white;
    border-radius: 999px;
    color: white;
    padding: 1vh 2vw;
    font-size: clamp(1.2rem, 2.5vw, 2.7rem);
    font-family: 'Lilita One', sans-serif;
    letter-spacing: 0.1em;
    cursor: pointer;
    text-decoration: none;
    margin: 1vh;
    transition: background-color 0.3s ease;
}
/* -------------------- PROFILE ICON SELECTION PAGE -------------------- */
#changeProfilePhotoPage {
    margin: 1em;
}

.iconLayoutWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}

.iconRow {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.iconItem {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border: 4px solid White; 
    transition: all 0.2s ease;
    cursor: pointer;
}

.iconItem.selected {
    border: 4px solid white; 
    box-shadow: 0 0 12px white;
}

.iconItem img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}
.circle-cat {
    background-color: #64A6BD; 
}

.circle-dog {
    background-color: #90A8C3; 
}

.circle-bunny {
    background-color: #ADA7C9; 
}

.circle-cow {
    background-color: #F4CAE0; 
}

.circle-unicorn {
    background-color: #D7B9D5; 
}


/* Responsive tweaks */
@media (max-width: 768px) {
    .iconRowBottom {
        transform: translateX(30px);
        gap: 30px;
    }

    .iconSelectItem {
        width: 100px;
        height: 100px;
    }

        .iconSelectItem .profileImageContainer {
            width: 100px;
            height: 100px;
        }
}

/* ---------------------- OTHER ---------------------- */
/* ---------------------- SMALL CONTAINER FOR MESSAGES ---------------------- */
.container {
    display: flex;
    justify-content: center;
    margin-top: 60px; /* for spacing from top */
}

/* ---------------------- LABELS ---------------------- */

.label {
    font-family: 'Gilda Display', serif;
    font-weight: 200;
    font-size: clamp(1.2rem, 2vw, 2.5rem);
    color: white;
    margin-bottom: 0.5vh;
    display: inline-block;
}

/*.profilelabel { 
    font-family: 'Gilda Display', serif;
    font-weight: 200;
    font-size: clamp(1.2rem, 2vw, 2.5rem);
    color: white;
    margin-bottom: 0.5vh;
    display: inline-block;
}*/

/* ---------------------- BUTTONS ---------------------- */
/* normal blue button */
.buttonSection {
    text-align: center;
    margin-top: 3vh;
}

.button {
    background-color: #5f7fa3;
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 1vh 2vw;
    font-size: clamp(1.2rem, 2.5vw, 2.7rem);
    font-family: 'Lilita One', sans-serif;
    letter-spacing: 0.1em;
    cursor: pointer;
    text-decoration: none;
    margin: 1vh;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #446791;
}

.button a {
    color: white;
    text-decoration: none;
}


/* ---------------------- TEXTBOXES ---------------------- */

.textbox {
    border-radius: 2rem;
    border: 2px solid white;
    background-color: transparent;
    padding: 0.2em 1em;
    color: white;
    font-size: clamp(1.2rem, 2vw, 2.5rem);
    font-family: 'Gilda Display', serif;
    font-weight: 200;
    outline: none;
    margin: 1vh auto;
    text-align: right;
    max-width: 300px;
    box-sizing: border-box;
    display: block;
}

/* ---------------------- DROP DOWN LISTS ---------------------- */
.dropDownList {
    border-radius: 2rem;
    border: 2px solid white;
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none; /* removes default arrow */
    background-image: url('../Icons/icons8-expand-arrow-white-96.png'); /* down arrow */
    transition: background-image 0.2s ease;
    background-repeat: no-repeat;
    background-position: right 0.5em center;
    background-size: 1em;
    padding: 0.2em 2em 0.2em 1em;
    color: white;
    font-size: clamp(1.2rem, 2vw, 2.5rem);
    font-family: 'Gilda Display', serif;
    font-weight: 200;
    outline: none;
    margin: 1vh auto;
    text-align: left;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    display: block;
}

.dropDownList.open {
    background-image: url('../Icons/icons8-collapse-arrow-up-white-96.png'); /* up arrow */
    transition: background-image 0.2s ease;
}

/* ---------------------- TABLES ---------------------- */
table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0;
    width: auto;
    height: auto;
}

.validationErrorSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8em;
}

.validationError {
    color: white;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Gilda Display', serif;
    display: block;
    visibility: visible;
}

.validationError[style*="inline"] {
    visibility: visible;
}

.validationErrorCustom {
    color: white;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Gilda Display', serif;
    display: block;
}

.validationErrorCustom[style*="inline"] {
    visibility: visible;
}

/* ---------------------- MEDIA QUERIES ---------------------- */
@media (max-width: 768px) {
    .curved-header {
        position: relative;
        top: 25vh;
    }

    .curved-header h2 {
        margin-top: clamp(-5rem, -4vw, -3rem);
    }

    .nav-left {
        padding-top: 1%;
    }

    .nav-right {
        padding-top: 1%;
    }

    .navbar a {
        font-size: 2em;
    }

    .navbar .nav-left a {
        width: 9em;
    }

    .navbar .nav-right a {
        width: 9em;
    }

    .navbar .nav-left li,
    .navbar .nav-right li {
        margin-bottom: 0.2em;
    }

    /*collapsed nav*/
    .collapsedNav .nav-left {
        padding-top: 2%;
    }

    .collapsedNav .nav-right {
        padding-top: 2%;
    }

    .collapsedNav .navbar a {
        font-size: 3em;
    }

    .collapsedNav .navbar .nav-left a {
        width: 8.5em;
    }

    .collapsedNav .navbar .nav-right a {
        width: 8.5em;
    }

    .collapsedNav .navbar .nav-left li,
    .navbar .nav-right li {
        margin-bottom: 0.5em;
    }

    .homePagePet {
        width: min(90vw, 300px);
    }

    .accountInfoDiv {
        flex-direction: column;
        align-items: flex-start;
        font-size: 1rem;
    }

    .timeDateDiv {
        text-align: left;
        margin-top: 1rem;
    }

    #registerPageDiv {
        margin-top: 5%;
    }

    #loginPageDiv {
        margin-top: 5%;
    }

    .button {
        width: 50%;
    }

    .textbox {
        width: 50%;
    }

    footer {
        bottom: 0;
    }
}

@media (max-width: 1800px) {
    .curved-header h2 {
        margin-top: clamp(-5rem, -4vw, -3rem);
    }

    .curvedHeaderPaw {
        transform: translate(5.1rem, -50%) rotate(8deg);
    }

    /* navigation */
    .nav-left {
        padding-top: 2%;
    }

    .nav-right {
        padding-top: 2%;
    }

    .navbar a {
        font-size: 3em;
    }

    .navbar .nav-left a {
        width: 8.5em;
    }

    .navbar .nav-right a {
        width: 8.5em;
    }

    .navbar .nav-left li,
    .navbar .nav-right li {
        margin-bottom: 0.5em;
    }

    /*collapsed nav*/
    .collapsedNav .nav-left {
        padding-top: 2%;
    }

    .collapsedNav .nav-right {
        padding-top: 2%;
    }

    .collapsedNav .navbar a {
        font-size: 3em;
    }

    .collapsedNav .navbar .nav-left a {
        width: 8.5em;
    }

    .collapsedNav .navbar .nav-right a {
        width: 8.5em;
    }

    .collapsedNav .navbar .nav-left li,
    .navbar .nav-right li {
        margin-bottom: 0.5em;
    }

    .collapsedNav .nav-left li {
        transform: translateX(-21em);
    }

    .collapsedNav .nav-right li {
        transform: translateX(21em);
    }

    /* home page */
    .homePagePet {
        width: min(90vw, 350px);
    }

    /* register page */
    #registerPageDiv {
        margin-top: 15%;
    }

    /* login page */
    #loginPageDiv {
        margin-top: 15%;
    }

    /* timer pages */
    .createTimerMainContent {
        margin: 3em 3em 3em 3em;
    }

    .createTimerMainContent .buttonSection {
        margin-top: 28%;
    }

    .createTimer2MainContent {
        margin: 3em 3em 3em 3em;
    }

    .createTimer2MainContent .titleTagSection {
        padding: 4% 0 9.25% 0;
    }

    .createTimer2MainContent .titleTagSection .rightSection table td {
        padding: 2.8vh 0;
    }

    .createTimer3MainContent {
        margin: 3em 3em 3em 3em;
    }

    .createTimer3MainContent .timeSection {
        padding: 2% 0 1% 0;
    }

    .validationErrorSection {
        height: 4.9em;
    }

    .viewTimerMainContent {
        margin: 3em 3em 3em 3em;
    }

    .viewTimerMainContent .timeSection {
        padding: 0 0 2.5% 0;
    }

    .viewTimerMainContent .timeSection .rightSection {
        margin-top: -1.5em;
    }

    .viewPastTimersMainContent {
        margin: 3em 3em 3em 3em;
    }

    .pastTimerStudySessionTableSection {
        margin-top: -4.5%;
    }

    .scrollableTableContainer {
        max-height: 50vh;
    }

    .pastTimerTable {
        font-size: 1.5rem;
    }

    footer {
        max-height: 35px;
        bottom: 0;
    }
}
/*BADGES PAGE*/
